
 <!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> -->
  <!--Indicators -->
  <!-- <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <!-- <div class="carousel-inner">
  <div class="item active">
   <a href="javascript:;">
    <img src="http://ww1.sinaimg.cn/large/006tNc79gy1ff9kg5rtm8j31kw11ynpq.jpg">
    <div class="carousel-caption">
    </div>
   </a>
  </div>
  <div class="item">
   <a href="javascript:;">
    <img src="http://ww3.sinaimg.cn/large/006tNc79ly1ffcejang7gj31kw11xe8f.jpg">
    <div class="carousel-caption"></div>
   </a>
  </div> -->
  <!-- <div class="item">
   <a href="javascript:;">
    <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ff601xyxpuj31kw11zkjp.jpg">
    <div class="carousel-caption"></div>
   </a>
  </div> -->
<!-- </div>
</div> -->

  <!-- Controls -->
  <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->


  <div class="jumbotron">
    <h2 class="title" >亲爱的:</h2>
    <br>
    <p class="slogan">
      <h3 class="slogan">见字如面。</h3>
    <br>

    </p>
    <p class="lead"><a class="btn btn-primary-welcome" href="/jobs" role="button">打开情书</a></p>
    <!-- <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">打开情书</a></p> -->
  </div>


       <!-- 网站简介 功能 -->

       <section id="feature" class="our-experts">
                 <div class="container">
                     <div class="row">
                       <div class="row">
                         <div class="col-md-6 col-md-offset-3 .text-center">
                           <h2 class="section-title">情书－书法爱好者的社区</h2>
                           <div class="short-line"></div>
                           <p class="index-contect">
                             我时常幻想着，<br>此时此刻的你，看着我的字，有着怎样的神情。<br>
                                我忍不住寻觅着，<br>提起笔的你，<em><mark><b>情</em></mark></b>不知所起，来一场一往而深的<em><mark><b>书</em></mark></b>写。
                           </p>
                           <img src="http://ww2.sinaimg.cn/large/006tNc79ly1ffcitl4r1oj31kw0nm4qz.jpg" alt="Feature">
                         </div>
                       </div>
                     </div>
                 </div>
               </section>


      <!-- <div class="row row-test"> -->
        <!-- <h2 class="section-title">笔酣墨饱，窗明几净，只等你落笔</h2>
                <div class="short-line"></div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail" >
            <img src="http://ww4.sinaimg.cn/large/006tNc79gy1ff600gpnbjj31hc0xc7lj.jpg" alt="pic">
              <div class="caption">
               <h3>书法大赛</h3>
              </div>
          </div>
        </div>


        <div class="col-sm-6 col-md-4 ">
          <div class="thumbnail">
            <img src="http://ww1.sinaimg.cn/large/006tNc79gy1ff5zziyj5lj31kw11ynpi.jpg" alt="pic">
            <div class="caption">
              <h3>书写社交</h3>
            </div>
          </div>
        </div>


        <div class="col-sm-6 col-md-4 ">
          <div class="thumbnail">
            <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ff601xyxpuj31kw11zkjp.jpg" alt="pic">
            <div class="caption">
              <h3>你的真迹</h3>
            </div>
          </div>
        </div>
      </div> -->


      <section id="service" class="what-we-do">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                      <h2 class="section-title">笔酣墨饱，窗明几净，只等你落笔</h2>
                      <div class="short-line"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="do-box">
                            <img src="http://ww2.sinaimg.cn/large/006tNc79ly1ffcsrd9cwpj30qi0lfmy1.jpg" alt="pic">
                            <h3>书法大赛</h3>
                            <p>旨在促进书法爱好者之间的交流与普及书法艺术、推广中华传统文化。</p>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <div class="do-box">
                            <img src="http://ww2.sinaimg.cn/large/006tNc79ly1ffcsrsnpgfj311v0wiabk.jpg" alt="S time" />
                            <h3>书写社交</h3>
                            <p>在这里，我们结交志同道合的朋友，一起发现汉字之美。</p>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <div class="do-box">
                            <img src="http://ww4.sinaimg.cn/large/006tNc79ly1ffcss5ncw1j311r0scq4j.jpg" alt="S file" />
                            <h3>手写菜谱</h3>
                            <p>寻找你的真迹，不求磅礴大气，不需灵动柔美，只要别具一格。</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>


      <div class="box">
         <div class="caption">
             <br>
             <br>
             <br>
             </div>
            </div>
